@font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'),
    url('/fonts/iosevka-regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'),
    url('/fonts/iosevka-bold.woff2') format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'),
    url('/fonts/iosevka-oblique.woff2') format("woff2");
  font-weight: italic;
  font-style: italic;
}
@font-face {
  font-family: 'STZHONGS';
  src: url('/fonts/STZHONGS.ttf') format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'STZHONGS';
  src: url('/fonts/STZHONGS.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'STZHONGS';
  src: url('/fonts/STZHONGS.ttf') format("truetype");
  font-weight: italic;
  font-style: italic;
}
body{
    font-family: 'Iosevka',sans-serif;
}
body:lang(zh){
  font-family: 'STZHONGS',sans-serif;
}